body {
  background-color: #e2e2e2;
  margin: 0 15rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a{
  text-decoration: none;
  display: block;
}

.Nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Li  {
  color: #252525;
  list-style: none;
  text-decoration: none;
  margin: 0 1rem;
}

.Li:hover{
  border-bottom: 1px solid #252525;
}

.Logo {
  color: #252525;
  text-decoration: none;
}

.Carrito {
  color: #252525;
}

.Fondo {
  width: 300px;
  height: 25rem;
  margin: 1rem;
  padding: 1rem;
  background-color: #d7d7d7;
}

.infoCard{
  opacity: 0;
  width: 300px;
  height: 25rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: -404px;
  background: rgba( 255, 255, 255, 0.25 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
}

.infoCard:hover{
  transition: 1s;
  opacity: 1;
}

.nameCard{
  text-align: center;
  position: relative;
  top: 80px;
  color: #252525;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: xx-large;
}

.tipoCard{
  position: relative;
  top: 80px;
  color: #222222;
  font-weight: 700;
  font-size: medium;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.botonCard{
  position: relative;
  top: 80px;
  font-weight: bold;
  padding: 1rem 3rem;
  color: #d5d5d5;
  background-color: #1e1e1e;
  border: none;
  cursor: pointer;
}

.botonCard:hover{
  transition: 1s;
  background-color: #383838;
}

.Gallery {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.Carrito {
  display: flex;
  flex-direction: row-reverse;
}

.numeroCarrito {
  padding: 0 0.5rem;
  background-color: #c8c8c8;
  border-radius: 1rem;
}

.logoCarrito {
  padding: 0 0.5rem;
}

.imgCard {
  object-fit: cover;
  width: 300px;
  height: 25rem;
}

.FondoDetail {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-top: 4rem;
}

.imgCardDetail {
  object-fit: cover;
  width: 500px;
  height: 700px;
}

.datos {
  width: 500px;
  padding: 1rem;
  background-color: #c8c8c8;
}

.esquemaCount {
  background-color: #dcdcdc;
  width: 93%;
  padding: 1rem;
  display: flex;
  border-radius: 0.3rem;
  justify-content: center;
  align-items: center;
}

.numeroProducto{
  color: #252525;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.boton {
  cursor: pointer;
  background-color: #cdcdcd;
  padding: 0.6rem 1rem;
  margin: 0.3rem;
  border: #25252527 1px solid;
  font-size: large;
  border-radius: 5rem;
  margin: 0 1rem;
}

.numeroProducto {
  padding: 0.5rem 1rem;
}

.agregarCarrito {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
  background-color: #2a2a2a;
  color: #d5d5d5;
  border: #25252527 1px solid;
  font-weight: bold;
  padding: 0.8rem 3rem;
  border-radius: 0.3rem;
}

.agregarCarrito:hover{
  transition: 1s;
  background-color: #3c3c3c;
}

.volverButton {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #252525;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  margin-top: 1rem;
  font-size: medium;
  border-radius: 0.5rem;
  font-weight: bold;
  border: #25252527 1px solid;
  background-color: #dfdfdf;
  display: flex;
}

.volverButton:hover{
  transition: 1s;
  background-color: #d5d5d5;
}

.tituloDetail{
  color: #252525;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: xx-large;  
}

.descripcionDetail{
  color: #3d3d3d;
  font-size: medium;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.listaDetail{
  border: #25252527 1px solid;
  color: #252525;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 1rem;
  background-color: #dddddd;
  border-radius: 1rem;
}

.retunrLink{
  width: 97px;
  border-radius: 0.5rem;
}

.checkoutBoton{
  width: 160px;
  border-radius: 0.5rem;
}

.agregarCarritoDisabled {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #cdcdcd;
  color: #f3f3f3;
  border: #25252527 1px solid;
  font-weight: bold;
  padding: 0.8rem 3rem;
  border-radius: 0.3rem;
}